.12_2 { 
	overflow:hidden;
}
.e12_2 { 
	width:826px;
	height:773px;
	position:absolute;
}
.e16_2 { 
	background-color:rgba(255, 255, 255, 1);
	width:826px;
	height:773px;
	position:absolute;
	left:0px;
	top:0px;
}
.e29_5 { 
	width:449px;
	height:30px;
	position:absolute;
	left:95px;
	top:690px;
}
.e6_6 { 
	color:rgba(33.00000183284283, 88.00000235438347, 229.00000154972076, 1);
	width:65px;
	height:30px;
	position:absolute;
	left:384px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e6_5 { 
	color:rgba(0, 0, 0, 1);
	width:376px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e28_2 { 
	width:88px;
	height:39px;
	position:absolute;
	left:369px;
	top:635px;
}
.e4_22 { 
	color:rgba(0, 0, 0, 0.3799999952316284);
	width:22.511627197265625px;
	height:26.742856979370117px;
	position:absolute;
	left:32.74418640136719px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e15_5 { 
	width:88px;
	height:43.399999618530273px;
	position:absolute;
	left:0px;
	top:15.600006103515625px;
	background-image:url(images/meta_lockup_positive_primary_rgb_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e29_3 { 
	width:711.0003051757812px;
	height:190.15380859375px;
	position:absolute;
	left:57px;
	top:429px;
}
.e4_21 { 
	transform: rotate(-3.1060104311167156e-18deg);
	width:711.0003051757812px;
	height:0px;
	position:absolute;
	left:0px;
	top:190.15380859375px;
}
.4_21 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e27_8 { 
	width:138px;
	height:54px;
	position:absolute;
	left:288px;
	top:63px;
}
.e4_19 { 
	background-color:rgba(139.2981693148613, 146.42272621393204, 164.6874949336052, 1);
	width:138px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e4_20 { 
	color:rgba(255, 255, 255, 1);
	width:117px;
	height:19px;
	position:absolute;
	left:12px;
	top:18px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e27_7 { 
	width:707px;
	height:117px;
	position:absolute;
	left:0px;
	top:0px;
}
.e17_2 { 
	background-color:rgba(33.00000183284283, 88.00000235438347, 229.00000154972076, 1);
	width:129px;
	height:54px;
	position:absolute;
	left:144px;
	top:63px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e17_3 { 
	color:rgba(255, 255, 255, 1);
	width:77px;
	height:38px;
	position:absolute;
	left:170px;
	top:71px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e44_7 { 
	color:rgba(0, 0, 0, 1);
	width:707px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e27_6 { 
	width:707px;
	height:117px;
	position:absolute;
	left:0px;
	top:0px;
}
.e4_17 { 
	background-color:rgba(33.00000183284283, 88.00000235438347, 229.00000154972076, 1);
	width:135px;
	height:54px;
	position:absolute;
	left:0px;
	top:63px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e4_18 { 
	color:rgba(255, 255, 255, 1);
	width:118px;
	height:38px;
	position:absolute;
	left:8px;
	top:71px;
	font-family:Inter;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.e44_4 { 
	color:rgba(0, 0, 0, 1);
	width:707px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e27_9 { 
	width:133px;
	height:133px;
	position:absolute;
	left:552px;
	top:38px;
}
.e10_13 { 
	width:133px;
	height:133px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_14 { 
	color:rgba(0, 0, 0, 1);
	width:33px;
	height:19px;
	position:absolute;
	left:51px;
	top:104px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e44_3 { 
	width:707px;
	height:38px;
	position:absolute;
	left:57px;
	top:378px;
}
.e44_2 { 
	color:rgba(0, 0, 0, 1);
	width:707px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e27_2 { 
	width:711.0003051757812px;
	height:24.153839111328125px;
	position:absolute;
	left:57px;
	top:340px;
}
.e9_3 { 
	width:15px;
	height:14.523809432983398px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e10_6 { 
	transform: rotate(-3.1060104311167156e-18deg);
	width:711.0003051757812px;
	height:0px;
	position:absolute;
	left:0px;
	top:24.153839111328125px;
}
.10_6 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e10_5 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:19px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e27_4 { 
	width:711.0003051757812px;
	height:38px;
	position:absolute;
	left:57px;
	top:307px;
}
.e4_10 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_12 { 
	transform: rotate(-3.1060104311167156e-18deg);
	width:711.0003051757812px;
	height:0px;
	position:absolute;
	left:0px;
	top:24.153839111328125px;
}
.4_12 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_11 { 
	color:rgba(0, 0, 0, 1);
	width:164px;
	height:38px;
	position:absolute;
	left:30px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e27_5 { 
	width:711.0003051757812px;
	height:45.846160888671875px;
	position:absolute;
	left:57px;
	top:268.1538391113281px;
}
.e2_2 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:7.846160888671875px;
	background-image:url(images/rectangle_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_8 { 
	transform: rotate(-3.1060104311167156e-18deg);
	width:711.0003051757812px;
	height:0px;
	position:absolute;
	left:0px;
	top:32px;
}
.4_8 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e4_7 { 
	color:rgba(0, 0, 0, 1);
	width:187px;
	height:38px;
	position:absolute;
	left:30px;
	top:7.846160888671875px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e10_4 { 
	transform: rotate(-3.1060104311167156e-18deg);
	width:711.0003051757812px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.10_4 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e27_3 { 
	width:711.0003051757812px;
	height:43.846160888671875px;
	position:absolute;
	left:57px;
	top:237.15383911132812px;
}
.e4_14 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:6.846160888671875px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e4_15 { 
	color:rgba(0, 0, 0, 1);
	width:128px;
	height:38px;
	position:absolute;
	left:30px;
	top:5.846160888671875px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e4_6 { 
	transform: rotate(-3.1060104311167156e-18deg);
	width:711.0003051757812px;
	height:0px;
	position:absolute;
	left:0px;
	top:0px;
}
.4_6 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e29_4 { 
	width:711.0003051757812px;
	height:155px;
	position:absolute;
	left:57px;
	top:76px;
}
.e1_2 { 
	width:30px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/rectangle_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e2_3 { 
	color:rgba(33.46874088048935, 88.35748717188835, 229.49999392032623, 1);
	width:98px;
	height:23px;
	position:absolute;
	left:46px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:19px;
	letter-spacing:0;
}
.e4_4 { 
	color:rgba(0, 0, 0, 1);
	width:701px;
	height:38px;
	position:absolute;
	left:0px;
	top:93px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e4_3 { 
	color:rgba(0, 0, 0, 1);
	width:99px;
	height:38px;
	position:absolute;
	left:0px;
	top:56px;
	font-family:Inter;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
}
.e4_5 { 
	color:rgba(0, 0, 0, 0.3799999952316284);
	width:51px;
	height:24px;
	position:absolute;
	left:0px;
	top:131px;
	font-family:Inter;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e4_2 { 
	transform: rotate(-3.1060104311167156e-18deg);
	width:711.0003051757812px;
	height:0px;
	position:absolute;
	left:0px;
	top:41.153839111328125px;
}
.4_2 { 
	border:1px solid rgba(0, 0, 0, 1);
}
