<html lang="en">
          <head>
            <meta charset="utf-8">
          
            <title>Something</title>
            <!-- <meta name="description" content="Figma htmlGenerator">
            <meta name="author" content="htmlGenerator"> -->
            <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

            <link rel="stylesheet" href="static/styles.css">
            
            <style>
              /*
                Figma Background for illustrative/preview purposes only.
                You can remove this style tag with no consequence
              */
              body {background: #E5E5E5; }
            </style>
          
          </head>
          
          <body style="background-color: 	rgb(0, 0, 0);">
            <div class=e1_4><div  class="e1_2"></div><div  class="e1_6"></div><span  class="e1_7">A new sign-in on Windows</span><span  class="e1_9">example123@gmail.com</span><div  class="e1_10"></div><span  class="e1_11">We noticed a new sign-in to your Google Account on a Windows device. If 
this was you, you don’t need to do anything. If not, we’ll help you secure
 your account.
</span><div  class="e1_12"></div><span  class="e1_14">Check activity</span></div>
          </body>
          </html>